<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>JT_Hunter - River  Height Prediction</title>
</head>

<body>
    <h3> Created by James Taylor</h3><a href="https://github.com/jt-hunter?tab=repositories">Github</a>
    <h1>River Height Forecasting</h1>
    <p>This page is to predictict the gage height of the Potomac River at the Little Falls gage.</p>
    <p>The application takes the current conditions, and makes predicts of the gage height at different times in advance.</p>
    <p>This is meant to help people plan their trips to the river</p>
   <table>
<thead>
  <tr>
    <th>Future Prediction</th>
    <th>Gage Height Prediction</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>4hr</td>
    <td>{{value4}}</td>
  </tr>
  <tr>
    <td>8hr</td>
    <td>{{value3}}</td>
  </tr>
  <tr>
    <td>15hr</td>
    <td>{{value2}}</td>
  </tr>
  <tr>
    <td>17hr</td>
    <td>{{value1}}</td>
  </tr>
</tbody>
</table>
    
    

</body>
</html>



